@charset "ISO-8859-1";
@font-face {
    font-family:MazdaTypeRegular;
    src: url(../fonts/Mazda-Type-Regular.ttf);
}


body,html{
    padding: 0;
    margin:0;
    font-family: MazdaTypeRegular,helvetica,arial,sans-serif;
}

#header{
    width: 100vw;
    height: 90px;
    background-color: #2b2b2b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    
}

.head-text{
    color: rgba(255, 255, 255, 0.953);
    font-size: 40px;
    font-weight: 400;
}

.text{
    font-family: MazdaTypeRegular,helvetica,arial,sans-serif;
}

.head-button{
    background-color: #2b2b2b;
    color: rgba(255, 255, 255, 0.673);
    font-size: 20px;
    border: none;
    height: 60px;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
}

.head-button:hover{
    color: rgba(255, 255, 255, 0.925);
}

#user-text{
    width: 100vw;
    height:40px;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    font-size: 20px;
    color: #2b2b2bc9;
    font-weight: 600;
    text-transform: uppercase;
    padding-top:10px;
    z-index: 2;
}

#login-body{
    width: 100vw;
}

#logImg{
    width: 100vw;
    height: 80vh;
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        )
}
#logImg img{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;  
    filter: blur(4px);

}


#logForm{
    position: absolute;
    width: 60vw;
    height: 450px;
    background-color: #f9f9f9;
    z-index: 2;
    top: 200px;
    left: 20vw; 
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logForm h1{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: #2b2b2bc2;
}

#logForm form{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logForm form input{
    width:50%;
    height: 50px;
    border: 2px solid #2b2b2b6d;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #2b2b2b;
    margin-bottom: 20px;
    outline: none;
    padding-left:20px;
    height: 50px;
}
#logForm form label{
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}
#logForm form input[type=submit]{
    width:auto;
    height: 50px;
    border: 2px solid #2b2b2b6d;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    background-color: black;
    margin-bottom: 20px;
    outline: none;
    
}

#logForm form input[type=submit]{
    width:200px;
    height: 50px;
    border: 2px solid #2b2b2b6d;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    background-color: black;
    margin-bottom: 20px;
    outline: none;
    cursor: pointer;
}
#logForm form input[type=submit]:hover{
    width:200px;
    height: 50px;
    border: 2px solid #2b2b2b6d;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.847);
    margin-bottom: 20px;
    outline: none;
}

#logForm a{
    margin: auto;
    color: #2b2b2b;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
}
.footer-dark{

    width: 100vw;
    height: 100px;
    background-color: #2b2b2b;
}

footer{
    width: 100vw;
    height: auto;
    background-color: #181818;
    color: white;
    font-family: MazdaTypeRegular,helvetica,arial,sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;

}

#footer-text{
    font-size: 15px;
    width: 70%;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    padding-bottom: 10px;
}
#socials{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
#socials div{
    padding: 5px;
    cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.hidden{
	display:none;
}

.maintext{
	text-align:center;
    text-transform: uppercase;
    font-family: MazdaTypeRegular,helvetica,arial,sans-serif;
}

table{
    width: 94%;
    margin: auto;
    border: 1px solid #000000;
    margin-bottom: 50px;
}

th{
    padding: 18px 0;
    background-color: #171717;
    color:#EEEEEE;
    border:none;
    font-family: MazdaTypeRegular,helvetica,arial,sans-serif;
}
tr{
    height: 40px;
    text-align: center;
    font-family: MazdaTypeRegular,helvetica,arial,sans-serif;
}
tr:nth-child(4n) {
    background: #b6b5b58f;
}
tr:nth-child(4n+1) {
    background: #b6b5b58f;
}

button{
    border: none;
    background-color: #00000000;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
}
button :hover{
    font-size: 25px;
}
input{
    text-align: center;
    padding: 5px 0px;
    font-family: MazdaTypeRegular,helvetica,arial,sans-serif;
}